<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StuTeaPot/Test-fr</title>
    <script src="{{ url_for('static', filename='node_modules/d3/dist/d3.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/stuteapot_test_interact.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stuteapot_style.css') }}"
    />
  </head>

  <body>
    <div class="pre-test-area">
      <p>
        La page française du questionnaire sera créée lorsque la page anglaise
        sera finalisée.
      </p>
    </div>
  </body>
</html>
